<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Indianapolis Rubyists on Github</h1>
    </div>

    <ul class="pagination">
      <% @pages.times do |x| %>
      <% if params[:page] == ((x+1).to_s||1) %>
      <li class="active">
        <%else%>
      <li>
        <%end%>
      <%= link_to "Page #{x + 1}", page: x + 1 %></li>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-10">
       <table class="table text-left">
         <thead>
           <tr>
             <th></th>
             <th>Username</th>
             <th>Joined GitHub</th>
             <th># of Github Repos</th>
             <th># of Followers</th>
           </tr>
         </thead>

         <tbody>
           <% @userdata.each do |userdata| %>
             <tr>
               <td><%= image_tag userdata.avatar_url, class:"image-responsive img-rounded", id:"avatar" %></td>
               <td><%= link_to userdata.login, userdata.html_url %></td>
               <td> joined on <%= userdata.created_at.strftime("%b %d, %Y") %> </td>
               <td><%= link_to userdata.public_repos, show_path(userdata.login) %></td>
               <td><%= userdata.followers %></td>
           <% end %>
         </tbody>
      </table>
    </div>
  </div>
  <div class="row">
      <ul class="pagination">
        <% @pages.times do |x| %>
        <% if params[:page] == (x+1).to_s %>
        <li class="active">
          <%else%>
        <li>
          <%end%>
        <%= link_to "Page #{x + 1}", page: x + 1 %></li>
        <% end %>
      </ul>
  </div>


</div>
