<!DOCTYPE html>
<html>
  <head>
    <title>Railsgithubapi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= button_to "Home", root_path, method: :get, class: 'btn btn-primary'%>

    <%= yield %>
  </body>
</html>
